
.assignmentPage{
    float: left;
    width: 80%;
    padding: 30px;
    /*border: 1px dodgerblue solid;*/
    border: 1px solid transparent;
    height: auto;
  }
.fileUploadArea {
    float: left;
    width: 50%;
    height: 15vh;
    border: 1px dashed rgb(184, 183, 183);
    padding: 20px;
}
.title {
    width: 28vw;
    height: 120px;
    border: 1px solid transparent;
}
.startAssignment {
    float: right;
    width: 40vw;
    height: 15vh;
    border: 1px dashed rgb(184, 183, 183);
}
.resultPageContainer {
    display: flex;
    flex-direction: row;
}
  



