body {
  background: #edc0bf;
  background: linear-gradient(90deg, #edc0bf 0,#c4caef 58%);
 
}

main{
  display: flex;
  flex-direction: row;
}

.main {
  width: 60vw;
  min-height: 85vh;
  height: auto;
  margin: 5vh 0 5vh 3vw;
  padding: 20px;
  align-items: center;
  border-radius: 30px;
  background: rgba(255, 255, 255, .5);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
  border: 2px solid purple;
}
.rightSide{
  width: 25vw;
  border: 2px solid blue;
  margin: 5vh 3vw;
  padding: 20px;
  border-radius: 30px;
}




