/*

.main {
  width: 60vw;
  min-height: 70vh;
  height: auto;
  margin: 5vh 0 5vh 3vw;
  padding: 20px;
  align-items: center;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 2px solid purple;
}
*/
.header{
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color: white;
  height:6vh;
}
.sider{
  float: left;
  width: 5vw;
  height: 100vh;
  background: #00457C;
  padding: 20px;
}
.main{
  float: left;
  padding: 20px;
  width: 95vw;
  background-color: white;
  height: 94vh ;
}

.assignmentPage{
  width: 70vw;
  padding: 20px;
  border: 1px dodgerblue solid;
  min-height: 80vh;
}
.fileUploadArea {
  width: 95%;
  height: 150px;
  border: 1px dashed rgb(184, 183, 183);
  padding: 20px;
}
.title {
  width: 28vw;
  height: 120px;
  border: 1px solid transparent;
}
.startAssignment {
  float: right;
  width: 40vw;
  height: 150px;
  border: 1px dashed rgb(184, 183, 183);
}

.TestPage{
  display: flex;
  
}
.rightSideArea{
  width: 15vw;
  padding: 20px;
  border: 1px palevioletred solid;
  min-height: 80vh;
}

/*Countdown Timer*/
.countdown{
  background-color: rgba(255, 255, 255, 0.637);
}
.timer-wrapper {
  display: flex;
  justify-content: center;
}

.timer {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  color: #aaa;
}

.value {
  font-size: 40px;
}

.info {
  max-width: 360px;
  margin: 40px auto 0;
  text-align: center;
  font-size: 16px;
}